* {
  box-sizing: border-box;
}

.content {
  margin: 0 auto;
  margin-top: 30px;
  width: 500px;
  min-height: 500px;

}

.gamebox {
  width: 452px;
  height: 452px;
  border: 1px solid black;

  display: flex;
  flex-flow: wrap;
}

.gamebox>div {
  width: 150px;
  height: 150px;
  line-height: 150px;
  font-size: 100px;
  text-align: center;
  border: 1px solid black;
}

.gamebox>div:hover {
  background-color: #ded;
}

.gamestate {
  display: flex;
  position: relative;
}

.gamestate>p {
  position: absolute;
}
.gamestate>p:nth-child(1) {
  left: 15px
}
.gamestate>p:nth-child(2) {
  left: 115px
}
.gamestate>p:nth-child(3) {
  left: 215px
}
.gamestate>p:nth-child(4) {
  position: relative;
}

.gamestate>p>button {
  padding: 2px;
  margin-right: 5px;
}